.list_page {
	background-color: lightgray;
	width: 100vw;
	min-height: 100vh;
}

.list_add_card {
	text-align: center;
}

.list_container {
	display: flex;
	justify-content: space-between;
	align-items: top;
}

.list_add_card_form_radio {
	margin-top: 20px;
	margin-bottom: 20px;
}

.list_column {
	width: 100%;
	text-align: center;
}

.list_card {
	width: 70%;
	margin: auto;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.list_card_title {
	font-size: 1.1rem;
	margin-top: 0;
}

.list_card:nth-child(even) {
	margin-top: 15px;
	margin-bottom: 15px;
}

.fab {
  top: 25px;
}